// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.reorder,
.update,
.previous {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
  @include transition($btn-transition);
  
  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
  @include button-variant($secondary, $secondary);
    
}


// Future-proof disabling of clicks on `<a>` elements
a.reorder.disabled,
a.update.disabled,
a.previous.disabled,
fieldset:disabled a.reorder, 
fieldset:disabled a.update, 
fieldset:disabled a.previous {
  pointer-events: none;
}

@each $color, $value in $theme-colors {
  .reorder-#{$color} {
    @include button-variant($value, $value);
  }
  .update-#{$color} {
    @include button-variant($value, $value);
  }
  .previous-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .reorder-outline-#{$color} {
    @include button-outline-variant($value);
  }
  .update-outline-#{$color} {
    @include button-outline-variant($value);
  }
  .previous-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.reorder-link,
.update-link,
.previous-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }

  // No need for an active state here
}

//
// Block button
//

.reorder-block,
.update-block,
.previous-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .reorder-block {
    margin-top: $btn-block-spacing-y;
  }
  + .update-block {
    margin-top: $btn-block-spacing-y;
  }
  + .previous-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.reorder-block {
    width: 100%;
  }
  &.update-block {
    width: 100%;
  }
  &.previous-block {
    width: 100%;
  }
}
